.receta-insignia {
  text-align: center;
  margin: 40px 0;
}
.large-recipe-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.recipe-description {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
.recipe-description ul {
  text-align: left;
}